{{#if partialIsActive}}
  {{> udError errors}}
{{else}}
  <main>
    <div class="all_mainContent">
      <div class="hero bg-lg">
        <h1>Update the Amazing Feedback</h1>
        {{> uploadingErrors validationErrors}}
        <form class="form-horizontal" method="POST"> 
          <input type="hidden" name="_csrf" value="{{csrfTokenFunc}}">      
          <div class="form-group">
            <h4 class="form-label" for="input-example-1">Name</h4>
            <input class="form-input" type="text" name="postname" id="input-example-1" value="{{feedback.postname}}">
          </div>
          <div class="form-group">
            <h4 class="form-label"  for="input-example-1">Title</h4>
            <input class="form-input" name="subject" type="feedback" id="input-example-1" value="{{feedback.subject}}">
          </div>
          <div class="form-group">
            <h4 class="form-label"  for="input-example-3">Content</h4>
            <textarea class="form-input" name="feedbackContent" id="input-example-3"   rows="3">{{feedback.feedbackContent}} </textarea>
          </div>        
          <input type="submit" class="bg-warning" value="Update">
        </form>
      </div>
    </div>
  </main>
{{/if}}